body{
   font-family: calibri;
   background-color: white;
}

.content{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#mainVisu{
    text-align:right;
    padding-bottom: 5px;
}

.button {
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.sub, .add{
    background-color: #4CAF50; /* Green */
}

.selected{
    background-color: #4CAF50; /* Green */
}

.not-selected{
    background-color: #C0C0C0; /* Green */
}
    
.etichetta{
    padding-right: 10px;
}

.calendario {
    border-collapse: collapse;
}

.calendarioMese{
    border-collapse: collapse;
    max-width: 1540px;
}

.intestazione{
    height:60px;
}

.intestazione td{
    text-align:center;
    font-weight:bold;
    color: #689F38;
    cursor:pointer;
}

.separatrice{
    height:2px;
    background-color:black;
}

.pratiche{
    height:60px;
    cursor:pointer;
}

.m_pratiche{
    cursor:pointer;
}

.day_0{
    min-height:10px;
    height:30px;
}

.day_1{
    min-height:10px;
    height:30px;
    padding-bottom:5px;
}

.table_int td{
    text-align:center;
    font-weight:bold;
    color: #689F38;
}

.col_0{background-color:white;}
.col_0 div{
    text-align: center;
    vertical-align: middle;
    line-height: 50px;   
    font-weight:bold;
    color: #000000;
}
.col_1{background-color:#F0F0F0;}
.col_1 div{
    text-align: center;
    vertical-align: middle;
    line-height: 50px;       
    font-weight:bold;
    color: #000000;
    
}

.oggi {background-color:#F5A445;}
.oggi div{
    text-align: center;
    vertical-align: middle;
    line-height: 50px;       
    font-weight:bold;
    color: #000000;
}

.oggiMese {background-color: #EAEAEA;}
.domenicaMese{background-color:#C0F0F0;}

.domenica {background-color:#C0F0F0;}
.domenica div{
    text-align: center;
    vertical-align: middle;
    line-height: 50px;       
    font-weight:bold;
    color: #000000;
}

.dayname{
     min-width:220px;
}

.day{
    border: solid thin #DDDDDD;
    min-width:220px;
    min-height:200px;
}

.day:hover{
    background-color:#f2f6fc;
}


.cellaMesePrec{
    padding:2px 2px 2px 2px;
    min-height:150px;
    cursor: pointer;
    background-color:#f2f6fc;
}


.cellaMese{
    padding:2px 2px 2px 2px;
    min-height:150px;
    cursor: pointer;
}

.cellaMese .int{
    padding-left: 2px;
    min-width:220px;
}

.dayEmpty{
    min-width:220px;
    min-height:200px;
    border: dotted thin #DDDDDD;
}

.stacco{background-color:#6ce35d; min-height:50px; opacity:0.70;}
.verniciatura{background-color:#6488e5; min-height:50px; opacity:0.70;}
.lattoneria{background-color:#689aed; min-height:50px; opacity:0.80;}
.meccanica{background-color:#edeb68; min-height:50px; opacity:0.70;}
.consegna{background-color:#ed9768; min-height:50px; opacity:0.70;}
.cella{ border: 1px solid black; min-height:50px; opacity:0.70;}

.prenotazione{background-color:#C0C0C0; min-height:50px; opacity:0.70;}

.veicolo{
    min-width:200px;
}

.targa{
    min-width:70px;
}

.selector{
    min-width:5px;
}

.giorno{
    min-width:100px;
}

.autosostituva{
    min-width:25px;
}

.stato{
    min-width:100px;
}